.box,
.box-image
  border-radius 3px

.box-image
  width 100%
  display block

.box
  trailer()
  padding-bottom 1px
  background-image versionPath("/home/images/section-gradient-background.png")
  background-repeat repeat-x
  border 1px solid hsl(360,3%,32%)