// Remove all margins from all text elements
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
p,
pre,
dl,
menu,
ol,
ul
  margin 0

// Styling to select menus is limited until border is removed
select,
input
  border 0